<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <!-- Language 1033 (English) Codepage 1252 (US-ASCII) : ENU, en-US -->

  <Product Name="OpenSLP 2.0" Id="303D9103-5018-49E2-ABF7-8DA48BA81D60"
      Language="1033" Codepage="1252" Version="2.0.0" Manufacturer="OpenSLP.org"
      UpgradeCode="B480ABC9-CE49-4B8A-9AA6-333949FD02C5">

    <Package Id="????????-????-????-????-????????????" 
        Keywords="SLP Service Location User Directory Agent"
        Description="OpenSLP 2.0 Installer" SummaryCodepage="1252"
        Comments="OpenSLP is an open source implementation of IETF RFC 2608 - Service Location Protocol." 
        Manufacturer="OpenSLP.org" InstallerVersion="150" Languages="1033" 
        InstallPrivileges="elevated" Compressed="yes" />

    <!-- The DiskPrompt property is required - ultimately, the user will be 
        prompted for a given disk by replacing the "[1]" text in the Value
        attribute of the DiskPrompt property with the text in the associated 
        Media element's DiskPrompt attribute. In the following case, the 
        prompt would become: "OpenSLP Installation CD #1" -->

    <Media Id="1" Cabinet="openslp.cab" EmbedCab="yes" DiskPrompt="CD #1" />
    <Property Id="DiskPrompt" Value="OpenSLP Installation [1]" />

    <!-- Now we begin the source/target Directory/File descriptors:
        TARGETDIR represents the virtual installation target root directory.
        SourceDir is a predefined Windows Installer variable that represents
        the root of the source file hierarchy. (Obvious, isn't it?) This 
        Directory element is always the outer-most wrapper for the 
        source/target directory structure definition. Most of the directory
        and file references are defined in a secondary WXS file that is 
        mostly generated by the tallow.exe utility from the source directory
        structure - this file is openslp_files.wxs. -->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
        <Directory Id="ProgramMenuDir" Name="OSLP20" LongName="OpenSLP 2.0" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id="Complete" Title="OpenSLP 2.0" 
        Description="The complete OpenSLP package."
        Display="expand" Level="1" ConfigurableDirectory="OPENSLPDIR"
        AllowAdvertise="no">
      <Feature Id="UASADA_feature" Title="Client/Server Agents" 
          Description="This feature includes the OpenSLP User Agent DLL, and the Service and Directory Agent system service." 
          AllowAdvertise="no" Level="1">
        <ComponentRef Id="UA_comp" />
        <ComponentRef Id="SADA_comp" />
      </Feature>

      <Feature Id="DEVKIT_feature" Title="Developer's Kit" 
          Description="This feature provides the User Agent link-library and header file(s) required for client application development." 
          AllowAdvertise="no" Level="1">
        <ComponentRef Id="LIB_comp" />
        <ComponentRef Id="INCLUDE_comp" />
      </Feature>

      <Feature Id="SLPTOOL_feature" Title="SLP Test Tool" 
          Description="This feature provides a test tool that allows command-line access to the User Agent library interface." 
          AllowAdvertise="no" Level="1">
            <ComponentRef Id="SLPTOOL_comp" />
      </Feature>

      <Feature Id="DOC_feature" Title="Documentation"
          Description="This feature provides the extensive set of OpenSLP documentation."
          AllowAdvertise="no" Level="1">
        <Feature Id="USERDOC_feature" Title="User Doc"
            Description="This feature provides documentation describing the proper use and configuration of OpenSLP services."
            AllowAdvertise="no" Level="1">
          <ComponentRef Id="INTRO_comp" />
          <ComponentRef Id="USERGUID_comp" />
          <ComponentRef Id="FAQ_comp" />
        </Feature>

        <Feature Id="DEVKITDOC_feature" Title="Dev Kit Doc"
            Description="This feature provides documentation describing the User Agent library application programmer's interface."
            AllowAdvertise="no" Level="1">
          <ComponentRef Id="PROGUID_comp" />
        </Feature>

        <Feature Id="SRCDOC_feature" Title="Source Doc"
            Description="This feature provides documentation describing the details of the OpenSLP source code - generated with Doxygen."
            AllowAdvertise="no" Level="1">
          <ComponentRef Id="LOGO_comp" />
          <ComponentRef Id="SRCDOC_comp" />
          <ComponentRef Id="RFC_comp" />
        </Feature>

      </Feature>
    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>

