<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Language 1033 (English) Codepage 1252 (US-ASCII) : ENU, en-US -->

  <Product Name="OpenSLP $(var.VERSION) $(var.REVISION)" Id="*"
      Language="1033" Codepage="1252" Version="$(var.VERSION)" Manufacturer="OpenSLP.org"
      UpgradeCode="04921844-F7F7-4792-BC7A-AB06FFC3EB29">

    <Package Keywords="SLP Service Location User Directory Agent"
        Description="OpenSLP $(var.VERSION) $(var.REVISION) Installer" SummaryCodepage="1252"
        Comments="OpenSLP is an open source implementation of IETF RFC 2608 - Service Location Protocol." 
        Manufacturer="OpenSLP.org" InstallerVersion="300" Languages="1033" 
        InstallPrivileges="elevated" Compressed="yes" />

    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

    <!-- The DiskPrompt property is required - ultimately, the user will be 
        prompted for a given disk by replacing the "[1]" text in the Value
        attribute of the DiskPrompt property with the text in the associated 
        Media element's DiskPrompt attribute. In the following case, the 
        prompt would become: "OpenSLP Installation CD #1" -->

    <Media Id="1" Cabinet="openslp.cab" EmbedCab="yes" DiskPrompt="CD #1" />
    <Property Id="DiskPrompt" Value="OpenSLP Installation [1]" />

    <!-- Now we begin the source/target Directory/File descriptors:
        TARGETDIR represents the virtual installation target root directory.
        SourceDir is a predefined Windows Installer variable that represents
        the root of the source file hierarchy. (Obvious, isn't it?) This 
        Directory element is always the outer-most wrapper for the 
        source/target directory structure definition. -->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="vc9runtime" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\Microsoft_VC90_CRT_x86.msm" Language="1033" DiskId="1"/>
      <Merge Id="vc9policy" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\policy_9_0_Microsoft_VC90_CRT_x86.msm" Language="1033" DiskId="1"/>

      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="OPENSLPDIR" Name="OpenSLP">

          <Component Id="UA_comp" DiskId="1" Guid="3026A145-2EEF-4FBD-9637-E756B6561B99">
            <File Id="file0" Name="slp.dll" KeyPath="yes" Source="OpenSLP\slp.dll" />
            <File Id="file1" Name="slp.pdb" Source="OpenSLP\slp.pdb" />
          </Component>

          <Component Id="SADA_comp" DiskId="1" Guid="2494EDC5-A1AB-4BAE-94A5-58346DDD6436"
              SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Transitive="no">
            <File Id="file2" Name="slpd.exe" KeyPath="yes" Source="OpenSLP\slpd.exe"
                ReadOnly="no" Vital="yes" Hidden="no" System="no" />
            <File Id="file3" Name="slpd.pdb" Source="OpenSLP\slpd.pdb" />
            <ServiceInstall Id="OpenSLPInstall" DisplayName="Service Location Protocol" 
                Description="The OpenSLP service agent provides the Service Location Protocol Service and Directory Agent components."
                Name="slpd" ErrorControl="normal" Start="auto" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="OpenSLPServiceControl" Name="slpd"
                Start="install" Stop="both" Remove="uninstall" Wait="yes" />
          </Component>

          <Component Id="SLPTOOL_comp" DiskId="1" Guid="763C6AAE-D512-4C71-B5CB-3C02DEA154EA">
            <File Id="file4" Name="slptool.exe" KeyPath="yes" Source="OpenSLP\slptool.exe" />
            <File Id="file5" Name="slptool.pdb" Source="OpenSLP\slptool.pdb" />
          </Component>

          <Directory Id="directory1" Name="Docs">
            <Directory Id="directory2" Name="html">

              <Component Id="FAQ_comp" DiskId="1" Guid="4FAD3AAE-DFAB-481D-8DA9-0FFFF1CCDE62">
                <File Id="file6" Name="faq.html" KeyPath="yes" Source="OpenSLP\Docs\html\faq.html">
                  <Shortcut Id="FAQ_shortcut" Directory="ProgramMenuDir" Name="OpenSLP 2.0 FAQ" WorkingDirectory="INSTALLDIR" />
                </File>
              </Component>

              <Directory Id="directory3" Name="IntroductionToSLP">

                <Component Id="INTRO_comp" DiskId="1" Guid="C54BB638-7B06-4425-B238-58FC074389ED">
                  <File Id="file9" Name="index.html" KeyPath="yes" Source="OpenSLP\Docs\html\IntroductionToSLP\index.html">
                    <Shortcut Id="INTRO_shortcut" Directory="ProgramMenuDir" Name="Introduction To SLP" WorkingDirectory="INSTALLDIR" />
                  </File>
                </Component>

              </Directory>
              <Directory Id="directory4" Name="ProgrammersGuide">

                <Component Id="PROGUID_comp" DiskId="1" Guid="9689348B-14FA-4C1F-AE7B-B8E9308798F6">
                  <File Id="file12" Name="Callbacks.html" Source="OpenSLP\Docs\html\ProgrammersGuide\Callbacks.html" />
                  <File Id="file13" Name="Divergence.html" Source="OpenSLP\Docs\html\ProgrammersGuide\Divergence.html" />
                  <File Id="file15" Name="index.html" KeyPath="yes" Source="OpenSLP\Docs\html\ProgrammersGuide\index.html">
                    <Shortcut Id="PROGUID_shortcut" Directory="ProgramMenuDir" Name="Programmer's Guide" WorkingDirectory="INSTALLDIR" />
                  </File>
                  <File Id="file17" Name="Security.html" Source="OpenSLP\Docs\html\ProgrammersGuide\Security.html" />
                  <File Id="file18" Name="SLPAttrCallback.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPAttrCallback.html" />
                  <File Id="file19" Name="SLPClose.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPClose.html" />
                  <File Id="file20" Name="SLPDelAttrs.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPDelAttrs.html" />
                  <File Id="file21" Name="SLPDereg.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPDereg.html" />
                  <File Id="file22" Name="SLPError.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPError.html" />
                  <File Id="file23" Name="SLPEscape.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPEscape.html" />
                  <File Id="file24" Name="SLPFindAttrs.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPFindAttrs.html" />
                  <File Id="file25" Name="SLPFindScopes.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPFindScopes.html" />
                  <File Id="file26" Name="SLPFindSrvs.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPFindSrvs.html" />
                  <File Id="file27" Name="SLPFindSrvTypes.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPFindSrvTypes.html" />
                  <File Id="file28" Name="SLPFree.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPFree.html" />
                  <File Id="file29" Name="SLPGetProperty.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPGetProperty.html" />
                  <File Id="file30" Name="SLPGetRefreshInterval.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPGetRefreshInterval.html" />
                  <File Id="file31" Name="SLPOpen.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPOpen.html" />
                  <File Id="file32" Name="SLPParseSrvURL.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPParseSrvURL.html" />
                  <File Id="file33" Name="SLPReg.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPReg.html" />
                  <File Id="file34" Name="SLPRegReport.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPRegReport.html" />
                  <File Id="file35" Name="SLPSetProperty.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPSetProperty.html" />
                  <File Id="file36" Name="SLPSrvTypeCallback.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPSrvTypeCallback.html" />
                  <File Id="file37" Name="SLPSrvURLCallback.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPSrvURLCallback.html" />
                  <File Id="file38" Name="SLPTypes.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPTypes.html" />
                  <File Id="file39" Name="SLPUnescape.html" Source="OpenSLP\Docs\html\ProgrammersGuide\SLPUnescape.html" />
                  <File Id="file41" Name="Syntax.html" Source="OpenSLP\Docs\html\ProgrammersGuide\Syntax.html" />
                </Component>

                <Directory Id="directory6" Name="UsersGuide">

                  <Component Id="USERGUID_comp" DiskId="1" Guid="69ED7F6C-FD44-4DFA-8510-B410B1806C95">
                    <File Id="file549" Name="CommandLine.html" Source="OpenSLP\Docs\html\UsersGuide\CommandLine.html" />
                    <File Id="file550" Name="FileLocations.html" Source="OpenSLP\Docs\html\UsersGuide\FileLocations.html" />
                    <File Id="file551" Name="index.html" KeyPath="yes" Source="OpenSLP\Docs\html\UsersGuide\index.html">
                      <Shortcut Id="USERGUID_shortcut" Directory="ProgramMenuDir" Name="User's Guide" WorkingDirectory="INSTALLDIR" />
                    </File>
                    <File Id="file552" Name="Installation.html" Source="OpenSLP\Docs\html\UsersGuide\Installation.html" />
                    <File Id="file553" Name="Optimization.html" Source="OpenSLP\Docs\html\UsersGuide\Optimization.html" />
                    <File Id="file554" Name="Security.html" Source="OpenSLP\Docs\html\UsersGuide\Security.html" />
                    <File Id="file555" Name="SlpConf.html" Source="OpenSLP\Docs\html\UsersGuide\SlpConf.html" />
                    <File Id="file556" Name="SlpReg.html" Source="OpenSLP\Docs\html\UsersGuide\SlpReg.html" />
                    <File Id="file559" Name="WhenToRunSlpd.html" Source="OpenSLP\Docs\html\UsersGuide\WhenToRunSlpd.html" />
                    <File Id="file560" Name="WhoShouldRead.html" Source="OpenSLP\Docs\html\UsersGuide\WhoShouldRead.html" />
                  </Component>

                </Directory>
              </Directory>
              <Directory Id="directory7" Name="rfc">

                <Component Id="RFC_comp" DiskId="1" Guid="FFF06A4C-51EC-40E5-BF35-0B5920B136F9">
                  <File Id="file563" Name="rfc1766.txt" Source="OpenSLP\Docs\rfc\rfc1766.txt" />
                  <File Id="file564" Name="rfc2165.txt" Source="OpenSLP\Docs\rfc\rfc2165.txt" />
                  <File Id="file565" Name="rfc2254.txt" Source="OpenSLP\Docs\rfc\rfc2254.txt" />
                  <File Id="file566" Name="rfc2396.txt" Source="OpenSLP\Docs\rfc\rfc2396.txt" />
                  <File Id="file567" Name="rfc2608.txt" KeyPath="yes" Source="OpenSLP\Docs\rfc\rfc2608.txt" />
                  <File Id="file568" Name="rfc2609.txt" Source="OpenSLP\Docs\rfc\rfc2609.txt" />
                  <File Id="file569" Name="rfc2610.txt" Source="OpenSLP\Docs\rfc\rfc2610.txt" />
                  <File Id="file570" Name="rfc2614.txt" Source="OpenSLP\Docs\rfc\rfc2614.txt" />
                  <File Id="file571" Name="rfc2926.txt" Source="OpenSLP\Docs\rfc\rfc2926.txt" />
                  <File Id="file572" Name="rfc3059.txt" Source="OpenSLP\Docs\rfc\rfc3059.txt" />
                  <File Id="file573" Name="rfc3082.txt" Source="OpenSLP\Docs\rfc\rfc3082.txt" />
                  <File Id="file574" Name="rfc3111.txt" Source="OpenSLP\Docs\rfc\rfc3111.txt" />
                  <File Id="file575" Name="rfc3224.txt" Source="OpenSLP\Docs\rfc\rfc3224.txt" />
                  <File Id="file576" Name="rfc3421.txt" Source="OpenSLP\Docs\rfc\rfc3421.txt" />
                  <File Id="file577" Name="rfc3528.txt" Source="OpenSLP\Docs\rfc\rfc3528.txt" />
                </Component>

              </Directory>
            </Directory>
          </Directory>

          <Directory Id="directory8" Name="Include">
            <Component Id="INCLUDE_comp" DiskId="1" Guid="530F1456-7D49-482A-A94B-B1B747E2E42D">
              <File Id="file580" Name="slp.h" Source="OpenSLP\Include\slp.h" />
            </Component>
          </Directory>

          <Directory Id="directory9" Name="Lib">
            <Component Id="LIB_comp" DiskId="1" Guid="051854DD-E1B6-47EB-9A2F-2F8A99A66319">
              <File Id="file581" Name="slp.lib" Source="OpenSLP\Lib\slp.lib" />
              <File Id="file582" Name="slpstatic.lib" Source="OpenSLP\Lib\slpstatic.lib" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <!-- Most of the directory and file references are defined in a secondary 
          WXS file that is mostly generated by the tallow.exe utility from the 
          source directory structure - this file is openslp_files.wxs. -->

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="OpenSLP 2.0" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />

      <!-- See note below where <ComponentRef> refers to this <Component> -->

      <Component Id="EMPTY_comp" DiskId="1" Guid="A85912B3-946B-4406-AC84-7B58B0ABED4B" />

    </Directory>

    <Feature Id="Complete" Title="OpenSLP 2.0" 
        Description="The complete OpenSLP package."
        Display="expand" ConfigurableDirectory="OPENSLPDIR"
        AllowAdvertise="no" Level="1" InstallDefault="local">

      <Feature Id="VC9RuntimeFeature" Level="1" AllowAdvertise="no" Display="hidden">
        <MergeRef Id="vc9runtime"/>
        <MergeRef Id="vc9policy"/> 
      </Feature>

      <Feature Id="UASADA_feature" Title="Client/Server Agents" 
          Description="This feature includes the OpenSLP User Agent DLL, and the Service and Directory Agent system service." 
          AllowAdvertise="no" Level="1" InstallDefault="followParent">
        <ComponentRef Id="UA_comp" />
        <ComponentRef Id="SADA_comp" />
      </Feature>

      <!-- Features with an INSTALLLEVEL (Level) value greater than 3 will not 
          be installed in a "Typical" installation. Users will have to choose
          "Custom" or "Complete" to get these optional components. The value of
          3 is a bit arbitrary, and is defined by the WIX library. -->

      <Feature Id="DEVKIT_feature" Title="Developer's Kit" 
          Description="This feature provides the User Agent link-library and header file(s) required for client application development." 
          AllowAdvertise="no" Level="5"  InstallDefault="followParent">
        <ComponentRef Id="LIB_comp" />
        <ComponentRef Id="INCLUDE_comp" />
      </Feature>

      <Feature Id="SLPTOOL_feature" Title="SLP Test Tool" 
          Description="This feature provides a test tool that allows command-line access to the User Agent library interface." 
          AllowAdvertise="no" Level="5" InstallDefault="followParent">
            <ComponentRef Id="SLPTOOL_comp" />
      </Feature>

      <Feature Id="DOC_feature" Title="Documentation"
          Description="This feature provides the extensive set of OpenSLP documentation."
          AllowAdvertise="no" Level="1" InstallDefault="followParent">
        <Feature Id="USERDOC_feature" Title="User Doc"
            Description="This feature provides documentation describing the proper use and configuration of OpenSLP services."
            AllowAdvertise="no" Level="1" InstallDefault="followParent">
          <ComponentRef Id="INTRO_comp" />
          <ComponentRef Id="USERGUID_comp" />
          <ComponentRef Id="FAQ_comp" />
          <ComponentRef Id="RFC_comp" />
        </Feature>

        <Feature Id="DEVKITDOC_feature" Title="Dev Kit Doc"
            Description="This feature provides documentation describing the User Agent library application programmer's interface."
            AllowAdvertise="no" Level="5" InstallDefault="followParent">
          <ComponentRef Id="PROGUID_comp" />
        </Feature>

      </Feature>

      <!-- According to WIX documentation, Windows Installer has a bug whereby
          empty features always display the "Install to run from Network" 
          option. We add an empty component to alleviate the problem -->

      <ComponentRef Id="EMPTY_comp" />
    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/dlgbmp.bmp" />

  </Product>
</Wix>

