Source: openslp
Section: net
Priority: optional
Maintainer: Ganesan Rajagopal <rganesan@myrealbox.com>
Standards-Version: 3.0.1

Package: slpd
Architecture: any
Depends: ${shlibs:Depends}
Suggests: openslp-doc (= ${Source-Version})
Description: OpenSLP Server (slpd)
 This is the OpenSLP Server which provides an SLPv2 (RFC 2608) compliant
 Service Agent and Directory Agent. SLP is a IETF standard protocol that is
 used to discover services on the network.

Package: openslp-doc
Architecture: all
Description: OpenSLP documentation
 This is the OpenSLP documentation package. This contains an Introduction to
 SLP, a User's Guide and a Programmer's Guide.

Package: libslp-dev
Architecture: any
Depends: libslp0 (= ${Source-Version}), libc6-dev
Suggests: openslp-doc (= ${Source-Version})
Description: OpenSLP development libraries
 This package allows development of SLP applications using the OpenSLP
 libraries. It includes headers, libraries and links to allow static and
 dynamic linking. The library implements RFC 2614 - An API for Service
 Location. 

Package: libslp0
Architecture: any
Depends: ${shlibs:Depends}
Suggests: openslp-doc (= ${Source-Version})
Description: OpenSLP libraries
 This is the OpenSLP run-time library package used by applications to
 discover/advertise services on the network.
