Source: openslp
Section: net
Priority: extra
Maintainer: Ganesan Rajagopal <rganesan@debian.org>
Build-Depends: debhelper (>= 4.1.26), debconf, autotools-dev
Standards-Version: 3.6.1

Package: slpd
Section: net
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Suggests: openslp-doc (= ${Source-Version})
Description: OpenSLP Server (slpd)
 Service Location Protocol is a IETF standard protocol that is used to
 discover/advertise services on the network. You can use SLP for anything
 from locating a suitable printer on your floor to discovering what LDAP
 directories are available in your organization. This package provides slpd,
 the OpenSLP daemon, which provides an SLPv2 (RFC 2608) compliant Service
 Agent and Directory Agent. 

Package: openslp-doc
Section: doc
Priority: extra
Architecture: all
Description: OpenSLP documentation
 Service Location Protocol is a IETF standard protocol that is used to
 discover/advertise services on the network. You can use SLP for anything 
 from locating a suitable printer on your floor to discovering what LDAP
 directories are available in your organization. This package provides
 comprehensive documentation on SLP and the OpenSLP implementation; it
 contains an Introduction to SLP, a User's Guide, a Programmer's Guide and
 related RFCs. 

Package: libslp1
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, debconf, net-tools
Suggests: slpd (= ${Source-Version}), openslp-doc (= ${Source-Version})
Description: OpenSLP libraries
 Service Location Protocol is a IETF standard protocol that is used to
 discover/advertise services on the network. You can use SLP for anything
 from locating a suitable printer on your floor to discovering what LDAP
 directories are available in your organization.  This package provides 
 the OpenSLP run-time library package that is linked to SLP aware
 applications. This library implements RFC 2614 - An API for Service
 Location. Unless there is a SLP DA in the network, you must install the
 slpd package to be able to advertise the services.

Package: slptool
Section: utils
Priority: extra
Architecture: any
Depends: libslp1 (= ${Source-Version})
Suggests: openslp-doc (= ${Source-Version})
Description: SLP command line tool
 Service Location Protocol is a IETF standard protocol that is used to
 discover/advertise services on the network. You can use SLP for anything
 from locating a suitable printer on your floor to discovering what LDAP
 directories are available in your organization. This package contains
 the a utility which you can use to exercise/test SLP.

Package: libslp-dev
Section: libdevel
Priority: extra
Architecture: any
Depends: libslp1 (= ${Source-Version}), libc6-dev
Suggests: openslp-doc (= ${Source-Version})
Conflicts: libxdelta3-dev
Description: OpenSLP development libraries
 Service Location Protocol is a IETF standard protocol that is used to
 discover/advertise services on the network. You can use SLP for anything
 from locating a suitable printer on your floor to discovering what LDAP
 directories are available in your organization. This package allows
 development of SLP applications using the OpenSLP libraries. It includes
 headers, libraries and links to allow static and dynamic linking. It also
 includes slptool, a utility to test service advertisement/lookup. The
 library implements RFC 2614 - An API for Service Location. 
